{% extends "base.html" %} 
{% block title %}Take an action{% endblock %}
{% block body %}

    <div class="container">

    
 <h3>Accounts</h3>
 <p>

       <p>                 <p>
              <a href="http://localhost:8000/register/">Sign up</a></li>     </p>
              <a href="http://localhost:8000/login/">Login</a></li>     </p>
                     <p>
              <a href="http://localhost:8000/profile/">View your Profile</a></li>     </p>
    
              {% endblock %}
      
         
       
