


     {% load static %}
     <head>
<link rel="stylesheet" href="{% static 'accounts/style.css' %}"type="text/css">
     
            	 <meta name="viewport" content="width=device-width, initial-scale=1">
   
    		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    		 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <body>
        <style>
            body {
            font-family: "Roboto", sans-serif;
            font-size: 17px;
            background-color: #fdfdfd;
        }
        .shadow {
            box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
        }
        .btn-danger {
            color: #fff;
            background-color: #f00000;
            border-color: #dc281e;
        }
        
        .masthead {
            background: #3398E1;
            height: auto;
        }
        
        </style>
        
  <title>Update your profile</title>
           {% if user.is_authenticated %}
</head>

  <body>


<div class="container">
<p>

 </p>
<h3>Edit your profile here</h3>

                  <center>   
<form method="post">
          {% csrf_token %}
          
          <p>
             <input type="text" required align="center" name="first_name" placeholder="First Name" /><br /> </p>         <hr/>
             
             
             
                       <p>
             <input type="text" required align="center" name="last_name" placeholder="Last Name" /><br /> </p>         <hr/>
             
 
             
             
             
 <p>
   <input type="text" required align="center" name="email"  placeholder="Email" /><br /> </p>         <hr/>
 <p>

             
 <p>
   <input type="text" required align="center" name="password"  placeholder="Take a new password" /><br /> </p>         <hr/>
   
 <p>

                
                          <h2><input type="submit" value="Save edits" 
                       class="btn btn-primary" /></h2>
 

        </p>
          
          


          
          
          </form>
     
 {% else %}
       <p>
              <a href="http://localhost:8000/login/">Login</a> to continue </p>
                    {% endif %}
          <div>
                    </footer>               

    </body> 
</html>
