<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
<link rel="stylesheet" href="{% static 'accounts/ile.css' %}"type="text/css">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/docs/3.4/favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/navbar-fixed-top/">

    <title>Messiah High School | Home</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/3.4/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://getbootstrap.com/docs/3.4/assets/css/ie10-viewport-bug-workaround.css">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/3.4/examples/navbar-fixed-top/navbar-fixed-top.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="https://getbootstrap.com/docs/3.4/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Messiah High School</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="accounts">Student</a></li>
            <li><a href="contacts">Contact</a></li>
         
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="gallery/">Gallery</a></li>
            <li><a href="posts">News</a></li>
            <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      	<td> &nbsp;
<span style="text-shadow: 2px 2px 2px #CCCCCC; text-align:left; font-size:24px; color: #000000; font-weight:bold; font-family:"Trebuchet MS" Candara, sans-serif, Geneva, Arial, Helvetica">
Messiah High School <br/>
</span>
<span style="text-shadow: 2px 2px 2px #CCCCCC; font-style: italic; font-size: 14px; color: #000000; font-weight:bold; font-family: Georgia, Times, serif;">...christ our source of wisdom</span>

</td>

 
      
             <h3>MISSION STATEMENT</h3>

                    Our mission is to create an enabling student-centered class environment where all students feel comfortable and safe enough to have freedom of expression , supported and bold enough for critical inquiry and confidently strong enough to strive for excellence in all endeavors , so that they can become useful citizens in a 21st century society
             

                            <h3>Vision Statement</h3>

                            We are focused in ensuring that every child attains his full potential and occupies a leadership position in the society through our meticulously planned pedagogical action and personal interaction</p>
                            
                            <h3>    About us      </h3>
                            <p>
                            
                            Messiah High School was established on the 15th of September 1995. The school was founded by Pastor J. Adelola, a veteran educationist with over four decades’ experience in school administration.
                            </p>
                            
                            <p>
                            
                            The aims and objectives of the school are to produce total students who are academically sound, morally upright and also nurture them spiritual by catching them young for our Lord Jesus Christ, providing a balanced and comprehensive programme of extra curriculum activities and maintaining close communication with the parents and guardians.
                            </p>
                            <p>
                            
                            The school is located in a serene environment. This provides the right environment for our students’ academic, social, moral and intellectual development during the critical years of their programme.
                            
                            </p>
                            <h2>  Counseling Services</h2>
                            <p>
                            
                            To facilitate settling down into the school system and coping with the demands of a new environment, the school counselors are on ground to organize orientation programmes for in-coming (new) students; they also give advice to all students on choice of carrier, selection of relevant subjects for each chosen field of study and other emotional needs at all level to students.</h3>
                            </p>
                            
                            <h2>     Teacher Parenting Scheme</h2>
                            <p>
                            
                            Each student is assigned a personal tutor who acts as a mentor, monitoring progress, providing support when needed and keeping parents/guardians informed about matters concerning the students’ welfare and academic works.  
                            
                            </h3>
                            </p>
                            
                            
                            
                                                 
                             <h4>Messiah High School,Akure is a school that offers world class education,we are noted to be the best school in Akure</h4>
                             <p>
                                 


                     <h1> Here are the registered students</h1><a class="_36or" href="http://localhost:8000/profiles/">Click here to see the registered students </a> 
                     
                                                               
       <h2> Check result</h2>
       <img src="https://images.pexels.com/photos/163032/office-pen-calculator-computation-163032.jpeg?cs=srgb&dl=balance-calculator-chart-163032.jpg&fm=jpg"
        width='150' >Click      <a href="http://localhost:8000/accounts/profile">here</a></li> to check your result online
   
  <h2> Check Payment</h2>
        
        <img src="https://propmoviemoney.com/wp-content/uploads/2018/07/New-Style-100-Full-Print-Front-SIde-with-Spread.jpg"     width='150' >Click      <a href="http://localhost:8000/accounts/profile">here</a></li> to check your Payment Record Online

        <!--Students can check news here-->

<h2>School news</h2>
        <p>        Click    <a href="http://localhost:8000/posts">here </a></li> to check school news</p>  
          
          
      

<center><h1><p>Important Information</p></h1></center>
<center>  <h3><p>Admission is on for 2019/2020 academic session,admission is on into the following classes; JSS1,JSS2,JSS3,SS1,SS2 only. Forms can be obtained at the school premises</p></h3></center>

  
       
          
         <center>
  {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
         </center>

           <center><h1><p>Facilities in school and learning benfits</p></h1></center>
           

       <br>    <center>  <h3><p> Highly Ventilated Classrooms</h4><img src="http://1.bp.blogspot.com/-yKnxLvLcwyQ/VCqbqXPapdI/AAAAAAAAACA/w5lXC2Pj3p8/s1600/3.jpg" >             
           </p></h3></center><br>


         <br>  <center>  <h3><p>
              State of art facilities(one student, one computer)</h4><img src="http://4.bp.blogspot.com/-pD5eHbdzMdE/VCqb_by6vPI/AAAAAAAAACg/LvY8rerYCio/s1600/8.jpg" >   
           </p></h3></center><br>

         <br>  <center>  <h3><p>
              A well-stocked library</h4><img src="http://1.bp.blogspot.com/-i7OQ_9AAzMk/VCqbymrH2yI/AAAAAAAAACI/rIm8pya3tZA/s1600/4.jpg">            
            </p></h3></center><br>

         <br>   <center>  <h3><p>    Condusive Boarding Facillites</h4><img src="http://3.bp.blogspot.com/-2zYrARrUFIM/VCqcLS5yMJI/AAAAAAAAACw/hZY3toj-gtI/s1600/10.jpg" > </p></h3></center><br>
           
           
           <br>   <center>  <h3><p>     An Ultra-modern Laboratory,well equiupped for science students</h4><img src="http://1.bp.blogspot.com/-4VW39xn0eb4/VCqb1jRoG4I/AAAAAAAAACQ/e2h_BxA-ZEw/s1600/5.jpg" > </p></h3></center><br>
           
           <div class="container">
           
<br>
<h2>Geographical</h2><p><br>Messiah High School is a secondary school in Nigeria, situated in one of the city's most beautiful areas,<br> 
  <br>located at 1 Messiah Avenue, Off Onyearugbulem Market Road, P.O.Box 2045 Akure,Ondo State.It offers easy access to the Ondo State capital's myriad of cultural attractions.<br>
  <br>It is a safe, clean and a quiet residential and commercial area of Akure.We offer both National and International Examination for our students.</p>
</div>
<br>

   </div>


<footer>

    <br><p ><h4 style="color:rgb(255, 255, 255);">Contact Us</h4></p><br>
  
  
    <br><p><img src="https://z-m-static.xx.fbcdn.net/rsrc.php/v3/yg/r/XGVo4SUb80w.png?_nc_x=vvRYAOalQvm&amp;_nc_eui2=AeGXxOaZVhnmd3lbhHbcPvKDupbOe9P1vqHYulTEBnNcCU3AdrqbrN3BzjGUD6REfomMbZgRt998JoJJ_DB97RQwos5OHNw3TV-nJLcPvbaCbA" width="20" height="20" >  08035520924, 07054546477</p><br>

    <br><img src="https://z-m-static.xx.fbcdn.net/rsrc.php/v3/yn/r/zw5k6aZ_4Ik.png?_nc_x=vvRYAOalQvm&_nc_eui2=AeG8_a97qlNE2pqG9Oo4Vpk_JaKcqzc-4V4hrTe2zH1TkU2whfc_1M7uU-99nK5mxl5yofv5BjthxBQQiliVfSR9JaayHWdinTCwCTl4FBpTow" width="20" height="20" > 
  E-Mail: messiahhighschool@yahoo.com,
  
  </p>
  <br><br>
<img src="https://z-m-static.xx.fbcdn.net/rsrc.php/v3/y5/r/8owpMTW3fGr.png?_nc_x=vvRYAOalQvm&_nc_eui2=AeGjBA268s3SY_270hhUusJSv8dIk_HIO3SRsRxf7SMT_SSJnnmm-2eax2yJidPxnjAns8-P2cyTlS0hRXy35N1-y4dz_XYdxHwaTd5bQdRibw" width="20" height="20" >  Messiah High School is located at 1 Messiah Avenue, Off Onyearugbulem Market Road, P.O.Box 2045 Akure,Ondo State
       </p>
       <br>
  
  <p ><h4 style="color:rgb(255,255,255);">SOCIAL LINKS</h4></p>
  
  <br> <p><a class="navbar-brand" href="https://m.facebook.com/Messiah-High-School-Akure-378074116130659">   <img src="https://z-m-static.xx.fbcdn.net/rsrc.php/v3/yC/r/hwCZEAcHQnm.png?_nc_x=vvRYAOalQvm&amp;_nc_eui2=AeE25IRfs6ugdaF_mNMk2oL5wzB7LgrhBWwsU_-ZVGyD-WdwK2j7rLxz1WVOYh8gvFHPjI3txVd4qSicGQlXDniawImqLD-pjEakea3BfgrPpg" width="20" height="20" >  </a>Facebook </p><br>
        
  <br><p><a class="navbSar-brand" href="https://wa.me/+2348035520924 "><img src="https://static.whatsapp.net/rsrc.php/v3/yP/r/rYZqPCBaG70.png?_nc_x=Ij3Wp8lg5Kz"  width="20" height="20" > </a>WhatsApp </p><br>


  
   <center style="color:rgb(255,255,255);">Copyright &copy; 2019 Messiah High School | Adesiyan Oladipo</center>      
  </footer>
     

      
      
      
      

    <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/3.4/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://getbootstrap.com/docs/3.4/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
