<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>.::Emplace College | Home</title>

    <!-- Favicon -->
    <link rel="icon" href="advert/14847541625077e6e74e6b7597a19f26582463fd99.png" >
	<!--- <link rel="icon" href="academy/img/core-img/favicon.ico">---->

    <!-- Core Stylesheet -->

    <link rel="stylesheet" type="text/css" href="academy/style.php">

</head>

<body>
    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>

<!-- ##### Header Area Start ##### -->

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="header-content h-100 d-flex align-items-center justify-content-between">
                           <div class="academy-logo"> 
						   
							<table><tr><td>
                        <a href="#">
						    <img src="advert/14847541625077e6e74e6b7597a19f26582463fd99.png" alt="Messiah High School" style="height:75px">
							</a>
							</td>
							<td> &nbsp;
<span style="text-shadow: 2px 2px 2px #CCCCCC; text-align:left; font-size:24px; color: #000000; font-weight:bold; font-family:"Trebuchet MS" Candara, sans-serif, Geneva, Arial, Helvetica">
Messiah High School <br/>
</span>
<span style="text-shadow: 2px 2px 2px #CCCCCC; font-style: italic; font-size: 14px; color: #000000; font-weight:bold; font-family: Georgia, Times, serif;">...christ our source of wisdom</span>

</td>
</tr>
</table>
</div>
<!--- 
 <div >

<h4>Emplace College </h4>
</div>
----->
            <div class="login-content"> 
			<!---
							
            <a href="index.php"><i class="fa fa-refresh fa-spin 2x" style="color:Black"></i> Switch to Basic</a>
			--->
			            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="academy-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="academyNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="http://127.0.0.1:8000/">Home</a></li>
									 <li><a href="aboutacademy.php">About Us</a></li>