<!doctype html>
<html lang="en">
  <head>
     {% load static %}

<link rel="stylesheet" href="{% static 'accounts/inside.css' %}"type="text/css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
 <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />
            <TITLE>Password reset email sent!</TITLE>
            <body>
            	<center>

    <nav class="navbar navbar-dark bg-dark">
    
 {% if user.is_authenticated %}
        <a class="navbar-brand" href="/">Welcome {{ user.userprofile.name}}</a>
           
       {% else %}
               <a class="navbar-brand" href="/">Welcome guest</a>  {% endif %}       
      
      </button>

<center>

{% if user.is_authenticated %}
 
               <a class="navbar-brand navbar-right" href="http://localhost:8000/profile">Profile</a> 
    
             <a class="navbar-brand navbar-right" href="http://localhost:8000/contacts">Talk to us </a>
               <a class="navbar-brand navbar-right" href="http://localhost:8000/gallery/">    Gallery </a>
                  <a class="navbar-brand navbar-right" href="http://localhost:8000/accounts/profile/logout/">Log Out </a>
                 


 {% else %}
  <a class="navbar-brand navbar-right" href="http://localhost:8000/">Home</a></li>     </h10>

            <a class="navbar-brand navbar-right" href="http://localhost:8000/accounts">Students </a></li>     
        
              <a class="navbar-brand navbar-right" href="http://localhost:8000/contacts">Talk to us </a>       
 <a class="navbar-brand navbar-right" href="http://localhost:8000/gallery/">    Gallery </a>

               
          {% endif %}       
         <center>
    </nav>
</div>

Password reset sent
We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
</body>
</html>

