<!doctype html>
<html lang="en">
  <head>
     {% load static %}

<link rel="stylesheet" href="{% static 'accounts/inside.css' %}"type="text/css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
 <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />
            <TITLE>Set a new passoword for your account</TITLE>
            <body>
              <center>

    <nav class="navbar navbar-dark bg-dark">
    
 {% if user.is_authenticated %}
        <a class="navbar-brand" href="/">Welcome {{ user.userprofile.name}}</a>
           
       {% else %}
               <a class="navbar-brand" href="/">Welcome guest</a>  {% endif %}       
      
      </button>

<center>

{% if user.is_authenticated %}
 
               <a class="navbar-brand navbar-right" href="http://localhost:8000/profile">Profile</a> 
    
             <a class="navbar-brand navbar-right" href="http://localhost:8000/contacts">Talk to us </a>
               <a class="navbar-brand navbar-right" href="http://localhost:8000/gallery/">    Gallery </a>
                  <a class="navbar-brand navbar-right" href="http://localhost:8000/accounts/profile/logout/">Log Out </a>
                 


 {% else %}
  <a class="navbar-brand navbar-right" href="http://localhost:8000/">Home</a></li>     </h10>

            <a class="navbar-brand navbar-right" href="http://localhost:8000/accounts">Students </a></li>     
        
              <a class="navbar-brand navbar-right" href="http://localhost:8000/contacts">Talk to us </a>       
 <a class="navbar-brand navbar-right" href="http://localhost:8000/gallery/">    Gallery </a>

               
          {% endif %}       
         <center>
    </nav>
</div>



{% block content %}
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}

 <center>  
                     <input class="btn-btn primary" type="submit" Value="Save new passowrd" ></center>
                     
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}
</body>
       </html>
      