<!DOCTYPE html>
<html lang="en">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
     {% load static %}
<link rel="stylesheet" href="{% static 'accounts/ile.css' %}"type="text/css">

    <link rel="icon" href="https://z-m-static.xx.fbcdn.net/rsrc.php/v3/yC/r/hwCZEAcHQnm.png?_nc_x=vvRYAOalQvm&amp;_nc_eui2=AeE25IRfs6ugdaF_mNMk2oL5wzB7LgrhBWwsU_-ZVGyD-WdwK2j7rLxz1WVOYh8gvFHPjI3txVd4qSicGQlXDniawImqLD-pjEakea3BfgrPpg">
 <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />
             <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
            <title>Messiah High School | HOMEPAGE</title>
            <STYLE TYPE="text/css">
    /* Add some padding on document's body to prevent the content
    to go underneath the header and footer */
 body {
            font-family: "Roboto", sans-serif;
            font-size: 17px;
        }
    .fixed-header, .fixed-footer{
        width: 100%;
        position: fixed;        
        background: #333;
        padding: 10px 0;
        color: #fff;
    }
    .fixed-header{
        top: 1;
    }
    .fixed-footer{
        bottom: 0;
    }
    .container{
        width: 80%;
        margin: 0 auto; /* Center the DIV horizontally */
    }
    nav a{
        color: #fff;
        text-decoration: none;
        padding: 7px 25px;
        display: inline-block;
    }
      footer {
       background-color: #000;
       width: 100%;
       height: 440px;
      }
       fixed-header, fixed-footer{
        width: 100%;
        position: fixed;        
        background: #333;
        padding: 10px 0;
        color: #fff;
    }
    fixed-header{
        top: 1;
    }
    fixed-footer{
        bottom: 0;
    }
    container{
        width: 80%;
        margin: 0 auto; /* Center the DIV horizontally */
    }
    nav a{
        color: #fff;
        text-decoration: none;
        padding: 7px 25px;
        display: inline-block;
    }
    

</style>
</head>

   <div class="n o" role="banner" id="header">

<div class="fixed-header" id="fixed-header">
        <div class="container" id="container">
            <nav class="navbar" id="navbar">

    
 {% if user.is_authenticated %}
      
      
      <a class="navbar-brand" href="/">Welcome {{ user.userprofile.name}}</a>
           
       {% else %}
               <a class="navbar-brand" href="/">Welcome guest</a>  {% endif %}       
  
<center>

{% if user.is_authenticated %}
 
                  <a class="navbar-brand" href="http://localhost:8000/profile">Profile</a>
                  <a class="navbar-brand" href="http://localhost:8000/contacts">Talk to us </a>
    
               <a class="navbar-brand" href="http://localhost:8000/gallery/">    Gallery </a>
                  <a class="navbar-brand" href="http://localhost:8000/accounts/profile/logout/">Log Out </a>
                 


 {% else %}
  <a class="navbar-brand navbar-right" href="http://localhost:8000/">Home</a></li>     </h10>

            <a class="navbar-brand navbar-right" href="http://localhost:8000/accounts">Students </a></li>     
        
              <a class="navbar-brand navbar-right" href="http://localhost:8000/contacts">Talk to us </a>       
 <a class="navbar-brand navbar-right" href="http://localhost:8000/gallery/">    Gallery </a>
{% endif %} </NAV>    
       </div>
        </div>



<CENTER>     <div class="academy-logo"> 
               
              <table><tr><td>
                        <a href="#">
                <img src="/" alt="Messiah High School" style="height:75px">
              </a>
              </td>
              <td> &nbsp;
<span style="text-shadow: 2px 2px 2px #CCCCCC; text-align:left; font-size:30px; color: #000000; font-weight:bold; font-family":Trebuchet MS Candara, sans-serif, Geneva, Arial, Helvetica>Welcome to Messiah High School Website<br/>
</span><CENTER>
<span style="text-shadow: 2px 2px 2px 2px 2px #CCCCCC; font-style: italic; font-size: 19px; color: #000000; font-weight:bold; font-family: Georgia, Times, serif;">...christ our source of wisdom</span>

</td>
</tr>
</table>
</div>



 <img class="demo cursor" src="http://3.bp.blogspot.com/-2zYrARrUFIM/VCqcLS5yMJI/AAAAAAAAACw/hZY3toj-gtI/s1600/10.jpg"   width='0'>
   </center><center>

         <img src="http://3.bp.blogspot.com/-2KlGFdUvMXw/VCqbkYmyf7I/AAAAAAAAABw/bDM_XZtaWpU/s1600/1.jpg"  width='500'   </div></center>
           <center>  <div class="column"> 
<img src="http://1.bp.blogspot.com/-tS8cLGU6ZzU/VCqb6f5I5mI/AAAAAAAAACY/GnmBgblMO0w/s1600/6.jpg" width='500'>

     </center>
        <center>

    <img src="http://4.bp.blogspot.com/-vNujXrBMgYQ/VCqcBQdPltI/AAAAAAAAACo/SXcNfcREICo/s1600/9.jpg" width='500' >
  
 
</center>
						


<h3>MISSION STATEMENT</h3>

Our mission is to create an enabling student-centered class environment where all students feel comfortable and safe enough to have freedom of expression , supported and bold enough for critical inquiry and confidently strong enough to strive for excellence in all endeavors , so that they can become useful citizens in a 21st century society.

<h3>Vision Statement</h3>

We are focused in ensuring that every child attains his full potential and occupies a leadership position in the society through our meticulously planned pedagogical action and personal interaction</p>

<h3>    About us      </h3>
<p>

Messiah High School was established on the 15th of September 1995. The school was founded by Pastor J. Adelola, a veteran educationist with over four decades’ experience in school administration.
</p>

<p>

The aims and objectives of the school are to produce total students who are academically sound, morally upright and also nurture them spiritual by catching them young for our Lord Jesus Christ, providing a balanced and comprehensive programme of extra curriculum activities and maintaining close communication with the parents and guardians.
</p>
<p>

The school is located in a serene environment. This provides the right environment for our students’ academic, social, moral and intellectual development during the critical years of their programme.

</p>
<h2>  Counseling Services</h2>
<p>

To facilitate settling down into the school system and coping with the demands of a new environment, the school counselors are on ground to organize orientation programmes for in-coming (new) students; they also give advice to all students on choice of carrier, selection of relevant subjects for each chosen field of study and other emotional needs at all level to students.</h3>
</p>

<h2>     Teacher Parenting Scheme</h2>
<p>

Each student is assigned a personal tutor who acts as a mentor, monitoring progress, providing support when needed and keeping parents/guardians informed about matters concerning the students’ welfare and academic works.  

</h3>
</p>



                     
 <h4>Messiah High School,Akure is a school that offers world class education,we are noted to be the best school in Akure</h4>
 <p>
          
<h4><a href="http://localhost:8000/profiles/">Here</a> are the registered students 
     
       <h2> Check result</h2>
       <img src="https://images.pexels.com/photos/163032/office-pen-calculator-computation-163032.jpeg?cs=srgb&dl=balance-calculator-chart-163032.jpg&fm=jpg"
        width='150' >Click      <a href="http://localhost:8000/accounts/profile">here</a></li> to check your result online
   
  <h2> Check Payment</h2>
        
        <img src="https://propmoviemoney.com/wp-content/uploads/2018/07/New-Style-100-Full-Print-Front-SIde-with-Spread.jpg"     width='150' >Click      <a href="http://localhost:8000/accounts/profile">here</a></li> to check your Payment Record Online

        <!--Students can check news here-->

<h2>School news</h2>
        <p>        Click    <a href="http://localhost:8000/posts">here </a></li> to check school news</p> 
        <h2></h2>
        <p>           <a href="http://localhost:8000/gallery"></a></li> </p>
 </div>
 
 <h2>Important Information</h2>
 <h4>Admission is on for 2019/2020 academic session,admission is on into the following classes; JSS1,JSS2,JSS3,SS1,SS2 only.Forms can be obtained at the school premises</h4>
 
 
  {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
 
 <h2>Facilites in school and Learning Benefits</h2>
 
 
 
 <center>    <div class="column"> 
 
 <h4>Highly Ventilated Classrooms</h4><img src="http://1.bp.blogspot.com/-yKnxLvLcwyQ/VCqbqXPapdI/AAAAAAAAACA/w5lXC2Pj3p8/s1600/3.jpg" >
 </div></center>
 
    <center> <div class="column"> 
 <h4>State of art facilities(one student, one computer)</h4><img src="http://4.bp.blogspot.com/-pD5eHbdzMdE/VCqb_by6vPI/AAAAAAAAACg/LvY8rerYCio/s1600/8.jpg" >
 </div></center>
 
 <center>    <div class="column"> 
 <h4>A well-stocked library</h4><img src="http://1.bp.blogspot.com/-i7OQ_9AAzMk/VCqbymrH2yI/AAAAAAAAACI/rIm8pya3tZA/s1600/4.jpg">
 </div></center>
  <center>
    <div class="column"> 
 <h4>Condusive Boarding Facillites</h4><img src="http://3.bp.blogspot.com/-2zYrARrUFIM/VCqcLS5yMJI/AAAAAAAAACw/hZY3toj-gtI/s1600/10.jpg" >
 </div></center>
 
     <center><div class="column"> 
 <h4>An Ultra-modern Laboratory,well equiupped for science students</h4><img src="http://1.bp.blogspot.com/-4VW39xn0eb4/VCqb1jRoG4I/AAAAAAAAACQ/e2h_BxA-ZEw/s1600/5.jpg" >
</div> </center>
        </div></div>
        </div> </div></div>
        </div> </body>  <p>
            
            </p>
          
        </div>
 
    </div>

 <h2>Geographical</h2><p>Messiah High School is a secondary school in Nigeria, situated in one of the city's most beautiful areas, located at 1 Messiah Avenue, Off Onyearugbulem Market Road, P.O.Box 2045 Akure,Ondo State.It offers easy access to the Ondo State capital's myriad of cultural attractions.It is a safe, clean and a quiet residential and commercial area of Akure.We offer both National and International Examination for our students.</p>
              </BODY>
<FOOTER>
<h4>Contact Us</h4></p>


<p style="color:rgb(255, 255, 255);"><img src="https://z-m-static.xx.fbcdn.net/rsrc.php/v3/yg/r/XGVo4SUb80w.png?_nc_x=vvRYAOalQvm&amp;_nc_eui2=AeGXxOaZVhnmd3lbhHbcPvKDupbOe9P1vqHYulTEBnNcCU3AdrqbrN3BzjGUD6REfomMbZgRt998JoJJ_DB97RQwos5OHNw3TV-nJLcPvbaCbA" width="20" height="20" >  08035520924, 07054546477</p>
<p style="color:rgb(255,255,255);"><img src="https://z-m-static.xx.fbcdn.net/rsrc.php/v3/yn/r/zw5k6aZ_4Ik.png?_nc_x=vvRYAOalQvm&_nc_eui2=AeG8_a97qlNE2pqG9Oo4Vpk_JaKcqzc-4V4hrTe2zH1TkU2whfc_1M7uU-99nK5mxl5yofv5BjthxBQQiliVfSR9JaayHWdinTCwCTl4FBpTow" width="20" height="20" > 
E-Mail: messiahhighschool@gmail.com,

</p>
<p style="color:rgb(255,255,255);"><img src="https://z-m-static.xx.fbcdn.net/rsrc.php/v3/y5/r/8owpMTW3fGr.png?_nc_x=vvRYAOalQvm&_nc_eui2=AeGjBA268s3SY_270hhUusJSv8dIk_HIO3SRsRxf7SMT_SSJnnmm-2eax2yJidPxnjAns8-P2cyTlS0hRXy35N1-y4dz_XYdxHwaTd5bQdRibw" width="20" height="20" >  Messiah High School is located at 1 Messiah Avenue, Off Onyearugbulem Market Road, P.O.Box 2045 Akure,Ondo State
     </p>

<h2>SOCIAL LINKS                       </h2>

      <p style="color:rgb(255,255,255);"><a class="navbar-brand" href="https://m.facebook.com/Messiah-High-School-Akure-378074116130659">   <img src="https://z-m-static.xx.fbcdn.net/rsrc.php/v3/yC/r/hwCZEAcHQnm.png?_nc_x=vvRYAOalQvm&amp;_nc_eui2=AeE25IRfs6ugdaF_mNMk2oL5wzB7LgrhBWwsU_-ZVGyD-WdwK2j7rLxz1WVOYh8gvFHPjI3txVd4qSicGQlXDniawImqLD-pjEakea3BfgrPpg" width="20" height="20" >  </a>Facebook </p>
      
           <p style="color:rgb(255,255,255);"><a class="navbSar-brand" href="https://wa.me/+2348035520924 "><img src="https://static.whatsapp.net/rsrc.php/v3/yP/r/rYZqPCBaG70.png?_nc_x=Ij3Wp8lg5Kz"  width="20" height="20" > </a>WhatsApp </p>
  </div>
   <a class="da" href="#fixed-header">Back to Top</a>

</footer>







    
    <div class="fixed-footer">
     <center>  <div class="container">Copyright &copy; 2019 Messiah High School | Adesiyan Oladipo</div>   </center>      
    </div>

</html>