<!doctype html>
<html lang="en">
  <head>
     {% load static %}
     <link rel="stylesheet" href="{% static 'accounts/reset-password.css' %}"type="text/css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
 <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />
            <title>Reset your school eportal's password</title>
            <body>
            	<center>

    <nav class="navbar navbar-dark bg-dark">
    
 {% if user.is_authenticated %}
        <a class="navbar-brand" href="/">Welcome {{ user.userprofile.name}}</a>
           
       {% else %}
               <a class="navbar-brand" href="/">Welcome guest</a>  {% endif %}       
      
      </button>

<center>

{% if user.is_authenticated %}
 
               <a class="navbar-brand navbar-right" href="http://localhost:8000/profile">Profile</a> 
    
             <a class="navbar-brand navbar-right" href="http://localhost:8000/contacts">Talk to us </a>
               <a class="navbar-brand navbar-right" href="http://localhost:8000/gallery/">    Gallery </a>
                  <a class="navbar-brand navbar-right" href="http://localhost:8000/accounts/profile/logout/">Log Out </a>
                 


 {% else %}
  <a class="navbar-brand navbar-right" href="http://localhost:8000/">Home</a></li>     </h10>

            <a class="navbar-brand navbar-right" href="http://localhost:8000/accounts">Students </a></li>     
        
              <a class="navbar-brand navbar-right" href="http://localhost:8000/contacts">Talk to us </a>       
 <a class="navbar-brand navbar-right" href="http://localhost:8000/gallery/">    Gallery </a>

               
          {% endif %}       
         <center>
    </nav>
</div>


 <!-- Content -->
    <div id="content" class="colM">
        
        <h1>Password reset</h1>
        

<div class="alert alert-danger" role="alert" style="color:rgb(255,255,255);">Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</div>




   

    <center>
 
 <div class="textbox">
 <i class="fal fa-users"></i>
        <center>  <form method="POST"><input type='hidden' name='csrfmiddlewaretoken' value='T0nNJWf9c9pjy68uTHusr6aBLL7HNhQJNpjsEl7EHnZyx91mrdW4kbe9TiBXcCTk' />  {% csrf_token %}
   <input type="email" required align="center" name="email"  placeholder="Your email address" /><br />  </div> </center>
 </center>
 
 {% csrf_token %}
{% csrf_token %}
                     <input class="btn" type="submit" Value="Reset password" ></center>
                    
  </form>
</body>
</html>

          












 